<p id="notice"><%= notice %></p>

<p>
  <b>Time:</b>
  <%= @lecture.time %>
</p>

<p>
  <b>Date:</b>
  <%= @lecture.date %>
</p>

<p>
  <b>Description:</b>
  <%= @lecture.description %>
</p>


<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
