<p id="notice"><%= notice %></p>
<h3><%= @topic.name %> </h3> 
  
<%= @topic.posts.each do |post| %>  
	<p> posts </p>
	<%= post.content %>  
<% end %>  

<table>
  <tr>
  	<th></th>
    <th>Course Title</th>
    <th>asd</th>
  </tr>

<% @topic.posts.each do |course| %>
  <tr>
  	<td>asda</td>
    <td><%= course.content %></td>
    <td>hello</td>
  </tr>
<% end %>
</table>
  
<p> 
  <%= link_to "New Post", new_post_path %> 
  <%= link_to "Edit", edit_topic_path(@topic) %> |  
  <%= link_to "Destroy Topic", @topic, :confirm => 'Are you sure?', :method => :delete %> |  
  <%= link_to "View All", topics_path %>  
</p>  
