<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :CourseTitle %><br />
    <%= f.text_field :CourseTitle %>
  </div>
  <div class="field">
    <%= f.label :StartTime1 %><br />
    <%= f.text_field :StartTime1 %>
  </div>
  <div class="field">
    <%= f.label :EndTime1 %><br />
    <%= f.text_field :EndTime1 %>
  </div>
  <div class="field">
    <%= f.label :MeetsOn1 %><br />
    <%= f.text_field :MeetsOn1 %>
  </div>
  <div class="field">
    <%= f.label :Building1 %><br />
    <%= f.text_field :Building1 %>
  </div>
  <div class="field">
    <%= f.label :Room1 %><br />
    <%= f.text_field :Room1 %>
  </div>
  <div class="field">
    <%= f.label :Instructor1Name %><br />
    <%= f.text_field :Instructor1Name %>
  </div>
  <div class="field">
    <%= f.label :CallNumber %><br />
    <%= f.text_field :CallNumber %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
