<h1>Listing courses</h1>

<table class="table">
  <tr>
    <th>Course Title</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Meets On</th>
    <th>Building</th>
    <th>Room</th>
    <th>Instructor Name</th>
    <th>Call Number</th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.CourseTitle %></td>
    <td><%= course.StartTime1 %></td>
    <td><%= course.EndTime1 %></td>
    <td><%= course.MeetsOn1 %></td>
    <td><%= course.Building1 %></td>
    <td><%= course.Room1 %></td>
    <td><%= course.Instructor1Name %></td>
    <td><%= course.CallNumber %></td>
    <td><%= link_to 'Show', course %></td>
    <td><% if @current_user.role == "Admin" %>
        <%= link_to 'Edit', course %>
        <% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %>
