<h1>Listing courses</h1>

<table>
  <tr>
    <th>Coursetitle</th>
    <th>Starttime1</th>
    <th>Endtime1</th>
    <th>Meetson1</th>
    <th>Building1</th>
    <th>Room1</th>
    <th>Instructor1name</th>
    <th>Callnumber</th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.CourseTitle %></td>
    <td><%= course.StartTime1 %></td>
    <td><%= course.EndTime1 %></td>
    <td><%= course.MeetsOn1 %></td>
    <td><%= course.Building1 %></td>
    <td><%= course.Room1 %></td>
    <td><%= course.Instructor1Name %></td>
    <td><%= course.CallNumber %></td>
    <td><%= link_to 'Show', course %></td>
    <td><% if @current_user.role == "Admin" %>
        <%= link_to 'Edit', course %>
        <% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %>
