<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Upload File', new_upload_path %>
</p>

<p>
  <b>Course Title:</b>
  <%= @course.CourseTitle %>
</p>

<p>
  <b>Time:</b>
  <%= @course.StartTime1 %>-
  <%= @course.EndTime1 %>
</p>

<p>
  <b>Meets On:</b>
  <%= @course.MeetsOn1 %>
</p>

<p>
  <b>Building:</b>
  <%= @course.Building1 %>
</p>

<p>
  <b>Room:</b>
  <%= @course.Room1 %>
</p>

<p>
  <b>Instructor Name:</b>
  <%= @course.Instructor1Name %>
</p>

<p>
  <b>Call Number:</b>
  <%= @course.CallNumber %>
</p>

<% if @current_user.role == "Admin" %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<% if @current_user.role == "Admin" %>
  <%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Add User', course_adduser_path(@course) %> |
   <%= link_to 'Users In Course', course_usersincourse_path(@course) %> |
<% end %>
<%= link_to 'Back', courses_path %>

