<p id="notice"><%= notice %></p>

<p>
  <b>Coursetitle:</b>
  <%= @course.CourseTitle %>
</p>

<p>
  <b>Starttime:</b>
  <%= @course.StartTime1 %>
</p>

<p>
  <b>Endtime:</b>
  <%= @course.EndTime1 %>
</p>

<p>
  <b>Meetson:</b>
  <%= @course.MeetsOn1 %>
</p>

<p>
  <b>Building:</b>
  <%= @course.Building1 %>
</p>

<p>
  <b>Room:</b>
  <%= @course.Room1 %>
</p>

<p>
  <b>Instructor Name:</b>
  <%= @course.Instructor1Name %>
</p>

<p>
  <b>Callnumber:</b>
  <%= @course.CallNumber %>
</p>

<% if @current_user.role == "Admin" %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end %>
<% if @current_user.role == "Admin" %>
<%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', courses_path %>

