<p id="notice"><%= notice %></p>

<p>
  <b>Coursetitle:</b>
  <%= @course.CourseTitle %>
</p>

<p>
  <b>Starttime1:</b>
  <%= @course.StartTime1 %>
</p>

<p>
  <b>Endtime1:</b>
  <%= @course.EndTime1 %>
</p>

<p>
  <b>Meetson1:</b>
  <%= @course.MeetsOn1 %>
</p>

<p>
  <b>Building1:</b>
  <%= @course.Building1 %>
</p>

<p>
  <b>Room1:</b>
  <%= @course.Room1 %>
</p>

<p>
  <b>Instructor1name:</b>
  <%= @course.Instructor1Name %>
</p>

<p>
  <b>Callnumber:</b>
  <%= @course.CallNumber %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
